#container {
    width: auto;
    background: #ffdefa;
    
   border: 0px solid silver;
   display: flex;
   flex-direction: column; /*row column*/
   /*justify-content: space-around;*/
   align-items: stretch;
  }
  
  #header {
    background: #f4cbe4;
    color: #5e2323;
    /* border: 1px solid #b4909d; */
    margin: 0px;
    padding: 20px;
    flex:2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  
    #navigation {
    margin: 3px;
    padding: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    }
  
    .choice {
    /* background: rgb(246, 249, 250);
    border: 1px solid silver; */
    margin: 3px;
    padding: 5px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content:center;
    }

    .content {
        border: 0px solid silver;
        margin: 3px;
        padding: 5px;
        flex:5;
        display: flex;
        flex-direction: row; /* row-reverse; змінює місцями блоки*/
        }
    img {
        margin-top:50px;
    }
      
        #footer {
        border: 1px solid silver;
        margin: 3px;
        padding: 5px;
        flex:2;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        }
      
      
        /* .leftpanel {
        border: 1px solid silver;
        margin: 3px;
        padding: 5px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        } */
        .centerpanel {
        border: 0px solid silver;
        margin: 3px;
        padding: 5px;
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }
        /* .rightpanel {
        border: 1px solid silver;
        margin: 3px;
        padding: 5px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        } */
      
      ul, li {
      margin: 0;
      padding: 0;
      }
      ul {
      list-style: none;
      }
      li {
      float: left;
      width: auto;
      }
      a.menu {
        background: #fbd6ed;
        color: #5e2323 ;
        /* border-bottom: 1px solid #b4909d;
        border-left: 1px solid #b4909d;
        border-right: 1px solid #b4909d; */
        font: bold 13px sans-serif;
        padding: 14px 26px;
        text-align: center;
        text-decoration: none;
        }
        li:hover a {
        background: #cca3c6;
        }
  
    .choice a.menu {
      background: #efcde1;
      color: #4b1f3a ;
      /*display: block; */
      font: bold 13px sans-serif;
      padding: 10px 25px;
      margin-bottom:20px;
      margin-left:10px;
      margin-top:0;
      text-align: center;
      text-decoration: none;
      border-radius: 25px;
      }
      .choice li:hover a {
      background: #e4bfd6;
      }
      
      p {
        text-align: justify;
        margin-right: 30px;
        margin-left: 20px;
        font-family: 'AR One Sans', sans-serif;
        font-family: 'Inter', sans-serif;
        font-family: 'Lato', sans-serif; 
        font-size: 15px;
        line-height: 20px;
      }
      h1 {
        font-family: 'AR One Sans', sans-serif;
      }
      h2 {
        font-family: 'AR One Sans', sans-serif;
      font-family: 'Lato', sans-serif;
      }
      h3{
        font-family: Comic sans MS;
      }
      h2.dog{
        font-family: Comic sans MS;
      }